<!DOCTYPE html>
<html ng-app="championship">
<head lang="en">
    <meta charset="UTF-8">
    <title>Vereinsmeisterschaft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<style type="text/css">
    td {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Vereinsmeisterschaft</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" ng-controller="MainCtrl">
        <table class="table">
            <thead>
            <tr>
                <th>Rang</th>
                <th>Verein</th>
                <th>Wertungen</th>
                <th>Punkte</th>
                <th ng-repeat="regatta in regatten">{{regatta.name}} ({{regatta.competitors}})</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="club in clubs | orderBy:'sort'">
                <td>{{($index+1)}}.</td>
                <td>{{club.name}}</td>
                <td>{{club.length}}</td>
                <td style="text-align: right;"><strong>{{club.points | number:2}}</strong></td>
                <td ng-repeat="(key, regatta) in regatten">
                    {{club[key].rankings.join()}}<br>
                    <strong>
                        <span ng-if="club[key].count">{{club[key].points | number:2}}</span>
                        <s ng-if="!club[key].count">{{club[key].points | number:2}}</s>
                    </strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
